@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
body {
	background-color: #C5C5C7;
	font-size: 0;
}
.container {
	display: table;
	width: 800px;
	height: 600px;
	margin: 0 auto;
	background-image: url('../img/Layer 5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.main {
	width: 686px;
	height: 391px;
	margin: 109px auto 100px auto;
	background-color: #152335;
	box-shadow: 0 0 100px rgba(0,0,0,0.9);
	border-radius: 10px;
}
.main__logo {
	margin: 24px 600px 0 21px;
}
.product {
	width: 686px;
	height: 313px;
	margin-top: 21px;
}
.product__gallery {
	float: left;
	width: 410px;
	height: 313px;
}
.product__image {
	width: 329px;
	height: 159px;
	margin: 48px 45px auto 36px;
	background-image: url('../img/Nike-SB-Stefan-Janoski-Max.png');
}
.product__toggle {
	width: 67px;
	height: 16px;
	margin: 71px auto 0 176px;
}
.product__item {
	display: inline-block;
	margin-bottom: 3.5px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
}
.product__item:not(:last-of-type) {
	margin-right: 8px;
}
.product__item--white {
	background-color: #FFFFFF;
}
.product__item--pink {
	background-color: #F34B41;
}
.product__item--cyan {
	background-color: #24E7EE;
}
.product__item--active {
	width: 12px;
	height: 12px;
	background-color: #293550;
	border: 2px solid #90959D;
	margin-bottom: 0;
}
.product__item:hover {
	background-color: darkred;
	transition: all .25s ease;
}
.product__info {
	margin-left: 34px;
	float: right;
	width: 242px;
	height: 313px;
}
.product__info-title {
	margin: 0;
	font: 24px/1.4 "Roboto", Arial, Sans-serif;
	font-weight: 300;
	color: #E7E7E7;
	opacity: 0.7;
	line-height: 1.15em;
}
.product__info-subtitle {
	margin-top: 8px;
	font: 14px/1.4 "Roboto", Arial, Sans-serif;
	font-weight: 300;
	color: #E7E7E7;
	opacity: 0.3;
}
.product__info-rate {
	padding: 0;
	margin-top: 18px;
	width: 65px;
	height: 12px;
}
.product__info-star {
	display: inline-block;
	margin-right: 1px;
	width: 12px;
	height: 12px;
	background-image: url('../img/star_white.png');
}
.product__info-star--active {
	background-image: url('../img/star_yellow.png');
}
.product__info-star:hover {
	cursor: pointer;
}
.product__info-param {
	padding: 0;
	display: inline-block;
	float: left;
	margin: 27px 2px 0 0;
	width: 70px;
	height: 32px;
	border: 1px solid #616873;
	background-color: #152335;
	user-select: none;
}
.product__info-param:hover {
	background-color: #2A3545;
	transition: all .25s ease;
}
.product__info-text {
	text-decoration: none;
	display: inline-block;
	margin: 7px 0 0 14px;
	font: 14px/1.4 "Roboto", Arial, Sans-serif;
	font-weight: 300;
	color: #616873;
}
.product__info-text:after {
	content: "";
	float: right;
	position: relative;
	top: 7px;
	right: -8px;
	width: 12px;
	height: 7px;
	background: url('../img/arrow.svg');
}
.menu__drop {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	padding: 0;
	margin-top: 6px;
	opacity: 0;
	border-top: 3px solid transparent;
	left: -9999px;
	transition: 0.5s opacity;
}
.menu__drop a {
	text-decoration: none;
	font: 14px/1.4 "Roboto", Arial, Sans-serif;
	font-size: 18px;
	color: #616873;
}
.menu__drop li {
	text-align: center;
	background-color: #2A3545;
	transition: all .25s ease;
}
.menu__drop li:hover {
	background-color: #152335;
}
.menu__list {
	position: relative;
	height: 32px;
}
.menu__list:hover .menu__drop{
	opacity: 1;
	top: 26px;
	left: 0;
}
.product__add-btn {
	outline: none;
	border: 1px solid #616873;
	width: 184px;
	height: 40px;
	margin-top: 29px;
	font: 14px/1.4 "Roboto", Arial, Sans-serif;
	font-weight: 300;
	color: #616873;
	background-color: #152335;
}
.product__add-btn:hover{
	background-color: #2A3545;
	transition: all .25s ease;
}